body {
  font-family: "Courier New", monospace;
}
.disableCaret {
  caret-color: transparent;
}
header {
  margin-top: 10vh; /* Adjust the top margin as needed */
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 5em; /* Adjust the size as needed */

  text-align: center;
}
input {
  background-color: transparent;
  border: 0.03em solid black;
  width: 7vw;
  height: 7vw;
  font-size: 5vw;
  text-align: center;
  margin: 0.1em;
  text-transform: capitalize;
}
#inputContainer {
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  max-width: 100%;
}

#hintContainer {
  margin: 2vh;
  color: darkgrey;

  font-size: 2vh; /* Adjust the size as needed */
}

.textCenter {
  text-align: center;
}

/* CSS */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Courier New", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}

.success {
  background-color: rgb(72, 192, 72) !important;
}
.halfWay {
  background-color: rgb(239, 239, 124) !important;
}
.failure {
  background-color: rgb(255, 71, 111) !important;
}

#abcContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5vh;
}
#abcContainer div {
  background-color: transparent;
  border: 0.03em solid black;
  width: 2vw;
  height: 2vw;
  font-size: 2vw;
  text-align: center;
  margin: 0.1em;
}
